*{
    margin: 0;
    padding:0;
    font-family: 'Inter', sans-serif;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #F4F6F8 ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

}
.logo{
    flex: 1;
}

.logo p{
    font-size: 24px;
    font-weight: bolder;
    color: #2D3748;
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 15px;

}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color:#1E293B ;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    

}
 
nav a{
    text-decoration: none;
    color: #C4B5FD;
    position: relative;
    transition: color 0.3s ease;
    font-size: 15px;
    font-weight: 400;
}

nav a:hover{
    color:#6D28D9;
}
 
nav a.active{
    color: #FF6B4A;
    font-weight: 600;
}
nav a.active::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #FF6B4A;
}
#cvlinkcont{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
#cvlink {
    background-color:#1E293B ;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 10px;
    margin-right: 20px;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

#cvlink:hover {
    background-color: #6D28D9;
}

#hero{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 120px 40px 60px 40px;
    background-color: #F4F6F8;
    min-height: 100vh;           
    box-sizing: border-box;      
    justify-content: center;    
    padding: 80px 40px 40px 40px

}
#eyebrow{
    font-size: 15px;
    font-weight: 600;
    color: #FF6B4A;
    letter-spacing: 0.06em;

}
h1{
    font-size:32px;
    font-weight: 700;
    line-height: 1.2;
    color: #1E293B;
}
#supp{
    color: #64748B;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;

}

#cta{
    border: none;
    background-color: #1E293B;
    color: #FFFFFF;
    padding: 12px;
    border-radius: 15px;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: transform  0.3s ease;
    margin-top: 15px;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

 transition: transform  0.3s ease;

}


#cta:hover .material-symbols-outlined{
    transform: translateX(4px);
}

#cta:hover{
    transform: scale(1.06);
}

#about{
    background-color: #FFFFFF;
}

#abouttoprow{
    display: flex;
    margin: 32px;
    gap: 40px;
    padding: 10px;
    align-items: center;

}

#image{
    height: 230px;
    width: 230px;
    border: dotted navy 3px;
    border-radius: 20px;
}
#eyebrow2{
    font-size: 15px;
    font-weight: 700;
    color: #FF6B4A;
    letter-spacing: 0.06em;
    text-transform: uppercase;
   
}
h2{
    font-size:32px;
    font-weight: 700;
    line-height: 1.2;
    color: #1E293B;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.supp2{
  color: #475569;  
  font-size: 18px;
  line-height: 1.3;
}

#aboutbottomrow{
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;

}
.statcard{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #F4F6F8;
    border: solid #1E293B 1px;
    border-radius: 10px;
    margin: 10px 15px;
    gap: 10px;
    padding: 10px;
    flex: 1;

}
.statlabel{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.06em;
    color: #475569;

}
.statvalue{
    font-size:  17px ;
    font-weight: 600;
    color:  #1E293B ;

}